<div class="pitch-outer">
  <div class="formation-bar">
    <label class="formation-label">
        Formación
        <select [(ngModel)]="formation" (ngModelChange)="onFormationChange()">
            <option *ngFor="let f of formations" [value]="f">{{ f }}</option>
        </select>
    </label>
  </div>

  <div class="pitch-wrapper">
    <img class="pitch-img" src="assets/cancha-futbol.png" alt="" />

    <div class="pitch-grid" cdkDropListGroup>
        <div
            *ngFor="let slot of slots"
            class="pitch-slot"
            [class.invalid-slot]="isSlotMismatch(slot)"
            [style.grid-row]="slot.gridRow"
            [style.grid-column]="slot.gridCol"
            cdkDropList
            [cdkDropListData]="slot.players"
            (cdkDropListDropped)="dropSlot($any($event))"
        >
            <span class="slot-pos">{{ slot.position | uppercase }}</span>

            <article
            *ngFor="let player of slot.players"
            class="pitch-card"
            cdkDrag
            [cdkDragData]="player"
            >
            <small class="pc-team">{{ player.position | uppercase }}</small>
            <p class="pc-name">{{ player.name }}</p>
            <small class="pc-team">{{ player.teamName }}</small>
            <span class="pc-score">{{ player.lastScore ?? 0 }} pts</span>
            </article>

            <div class="pitch-empty" *ngIf="slot.players.length === 0">Vacío</div>
        </div>
    </div>
  </div>
</div>